.wrapper {
    padding-top: 90px;
    min-height: 80vh;
    background: #FFEBF0;
}

.page {
    margin-top: 20px;
}

.title {
    color: #000;
    font-family: Prata, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 48px;
}

.sets {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 66px;
}

.set {
    display: flex;
    width: 280px;
    height: 280px;
    cursor: pointer;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
}

@media all and (max-width: 560px) {
    .filter {
        display: none;
    }
}
