.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block {
    display: flex;
    justify-content: space-between;
    max-width: 252px;
}

span {
    color: #000;
    font-family: Happy Monkey, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}