.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #CA8B81;
    background: transparent;
    z-index: 9999;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 104px;
}