.input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 260px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #000;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    color: #000;
    font-family: Happy Monkey, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input::placeholder {
    color: #6B6B6B;
    font-family: Quattrocento, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input:focus::placeholder {
    color: transparent;
}